.Dictionary section {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.Dictionary input {
  width: 60%;
  border-radius: 8px;
  color: #333;
  padding: 6px 4px;
  border: 1px solid #ddd;
}

.Dictionary .Search {
  text-align: center;
  width: 80%;
  margin-left: 60px;
  margin-bottom: 40px;
}
.Search p {
  font-weight: 600;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.7;
}