body {
  margin: 0;
  font-family: "Play", sans-serif;
  background-image: url("pexels-neilyonamine-8237959.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

code {
  font-family: "Audiowide", sans-serif;
}
